<div class="container">
  <div class="col-md-4">
  <%= form_for [@attendee, @yellowtail], role: 'form' do |f| %>

    <div class="form-group">
      <%= f.label :fishing_day %>
      <%= f.select :fishing_day, [["Day 1","day 1"],["Day 2","day 2"],["Day 3","day 3"]], {class: 'form-control'} %>
    </div>

    <div class="form-group">
      <%= f.label :yellowtail_weight %>
      <%= f.text_field :yellowtail_weight, placeholder: 'Weight in lbs.', class: 'form-control' %>
    </div>

      <%= f.submit 'Enter Yellowtail' %>
  <% end %>
  </div>
</div>