<div class="container">
  <div class="col-md-4">
  <%= form_for [:tournament, :attendee, @yellowtail], role: 'form' do |f| %>

    <div class="form-group">
      <%#= f.label 'Tournament' %>
      <%#= params[:tournament_id] %>
      
      <%= f.hidden_field(:tournament_id, value: params[:tournament_id]) %>
      

      <%#= f.select 'tournament_id', options_for_select(@attendee.tournaments.map{ |tournament| [tournament.name, tournament.id]} ), {class: 'form-control'}  %>
      
    </div>

    <div class="form-group">
      <%= f.label :fishing_day %>
      <%= f.select :fishing_day, [["Day 1",'1'],["Day 2",'2'],["Day 3",'3']], {class: 'form-control'} %>
    </div>

    <div class="form-group">
      <%= f.label :catch_number %>
      <%= f.select :catch_number, [["No. 1",'1'],["No. 2",'2']], {class: 'form-control'} %>
    </div>

    <div class="form-group">
      <%= f.label :weight %>
      <%= f.text_field :weight, placeholder: 'Weight in lbs.', class: 'form-control' %>
    </div>

      <%= f.submit 'Enter Yellowtail' %>
  <% end %>
  </div>
</div>