<h1><%= @tournament.name %></h1>
<h2><%= @tournament.start_date %> - <%= @tournament.end_date %> </h2>
<h2><%= @tournament.host %></h2>
<h3><%= @tournament.location %></h3>

<ul class="nav nav-tabs">
  <li><%= link_to 'Add Attendee', new_tournament_attendee_path(@tournament) %></li>
  <li><%= link_to 'Edit tournament', edit_tournament_path %></li>
  <li><%= link_to 'Delete this tournament', "/tournaments/#{@tournament.id}", method: :delete %></li>
</ul>

<table class="table table-hover">
<tr>
  <th>Attendee</th>
  <th>Home Town</th>
  <th colspan="2">Day 1</th>
  <th colspan="2">Day 2</th>
  <th colspan="2">Day 3</th>
</tr>

  <% @tournament.attendees.each do |attend| %>
  <tr>
    <td><%= link_to attend.name, attendee_path(attend.id) %> </td>
    <td><%= link_to attend.name, new_tournament_attendee_yellowtail_path(attendee_id: attend.id, tournament_id: @tournament.id) %> </td>
    <td><%= attend.home_town %></td>
       
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <% end %>

</table>

