<h2><%= @attendee.name %></h2>
<h3><%= @attendee.home_town %></h3>

<br><br>

<%= link_to 'Add Yellowtail', new_attendee_yellowtail_path(@attendee) %>
<%= link_to 'Add Golf', new_attendee_golf_path(@attendee) %>
<%= link_to 'Edit attendee', "/attendees/#{@attendee.id}/edit" %>
<%= link_to 'Delete this attendee', "/attendees/#{@attendee.id}", method: :delete %>

<table>
<tr>
  <th>Tournament</th>
  <th>Overall Rank</th>
  <th colspan="2">Day 1</th>
  <th colspan="2">Day 2</th>
  <th colspan="2">Day 3</th>
</tr>

  <% @attendee.tournaments.each do |tournament| %>
  <tr>
    <td><%= link_to tournament.name, tournament_path(tournament.id) %> </td>
    <td><%=  %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <% end %>

</table>